.navigation-bar-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 44px;
  .navigation-bar-left {
    padding: 0 6px;
    display: flex;
    align-items: center;
    .icon-back {
      width: 11px;
      height: 19px;
    }
    .navigation-bar-title {
      margin-left: 16px;
      font-size: 18px;
      font-weight: bold;
      color: #222222;
    }
  }
  .navigation-bar-right {
    .right-title {
      font-size: 16px;
      font-weight: bold;
      color: #222222;
    }
  }
}